@model IEnumerable<Dominio.Models.Ferias>

@{
    ViewData["Title"] = "Férias dos colaboradores";
}

<h1 class="my-4">@ViewData["Title"]</h1>

@if (Model.Any())
{
    <div class="mb-3">
        <a asp-action="Aprovar"><em class="mdi mdi-check"></em> Aprovar férias</a>
    </div>
}
<div class="card h-75">
    <div class="card-body scroller">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <div class="d-inline-flex w-100">
                    <div class="row w-100">
                        <div class="col-md-4 col-12">
                            <small>Nome</small>
                            <h6>@Html.DisplayFor(modelItem => item.Colaborador.Nome)</h6>
                        </div>
                        <div class="col-md-3 col-12">
                            <small>Matrícula</small>
                            <h6>@Html.DisplayFor(modelItem => item.Colaborador.Matricula)</h6>
                        </div>
                        <div class="col-md-3 col-12">
                            <small>Períodos marcados</small>
                            @foreach (var periodo in item.PeriodosDeFerias)
                            {
                                <h6>@periodo.DataInicial.ToString("dd/MM/yyyy") &mdash; @periodo.DataFinal.ToString("dd/MM/yyyy")</h6>
                            }
                        </div>
                        <div class="col-md-2 col-12">
                            <small>Status</small>
                            <h6>@(item.Homologacao?.SituacaoDasFerias.ToString() ?? "Aguardando aprovação")</h6>
                        </div>
                    </div>
                </div>
                <hr />
            }
        }
        else
        {
            <div class="text-center">
                <h6><em class="mdi mdi-alert"></em> Não há registros!</h6>
            </div>
        }
    </div>
</div>